# Database settings
DB_HOST="localhost"
DB_PORT="5432"
DB_DATABASE="folio"
DB_USER="folio"
DB_PASS="folio"

# Valid values are SILLY, TRACE, DEBUG, INFO, WARN, ERROR, FATAL
LOG_MIN_LEVEL="INFO"

# Server settings
APPLICATION_PORT=8080

# Email settings
EMAIL_USER="email"
EMAIL_PASS="pass"
EMAIL_HOST="smtp.example.com"
EMAIL_PORT=587
